<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8">
	<title>Lista Telefonica</title>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/listaTelefonicaController.js"></script>
	<script src="js/services/contatoAPIService.js"></script>
	<script src="js/services/operadoraAPIService.js"></script>
	<script src="js/services/serialGeneratorService.js"></script>
	<script src="js/value/configValue.js"></script>
	<script src="js/config/serialGeneratorConfig.js"></script>
	<script src="js/filters/nameFilter.js"></script>
	<script src="js/filters/ellipsisFilter.js"></script>
	<script src="js/directives/uiAlertDirective.js"></script>
	<script src="js/directives/uiDateDirective.js"></script>
	<script src="js/directives/uiAccordionDirective.js"></script>

	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller="listaTelefonicaController">
	<div class="jumbotron">
		<ui-accordions>
			<ui-accordion title="Accordion 1">
				Com o objetivo de desenvolver software de qualidade, as empresas cada vez mais investem nas atividades de Testes de Software. No entanto, essa é uma atividade de custos elevados e que consome muito tempo. Assim, empresas de software e institutos de pesquisa têm investido na criação de ferramentas de geração automática de Casos de Testes a partir de especificações do software. Essas ferramentas têm por objetivo gerar suítes de teste que exercitem o código completo, a partir de combinações de passos de execução e resultados esperados. Contudo, essas ferramentas geralmente geram uma quantidade excessiva de Casos de Teste (CTs). Quando não há tempo ou recursos disponíveis para executar a suíte completa, os responsáveis pelos 
			</ui-accordion>

			<ui-accordion title="Accordion 2">
				Com o objetivo de desenvolver software de qualidade, as empresas cada vez mais investem nas atividades de Testes de Software. No entanto, essa é uma atividade de custos elevados e que consome muito tempo. Assim, empresas de software e institutos de pesquisa têm investido na criação de ferramentas de geração automática de Casos de Testes a partir de especificações do software. Essas ferramentas têm por objetivo gerar suítes de teste que exercitem o código completo, a partir de combinações de passos de execução e resultados esperados. Contudo, essas ferramentas geralmente geram uma quantidade excessiva de Casos de Teste (CTs). Quando não há tempo ou recursos disponíveis para executar a suíte completa, os responsáveis pelos 

			</ui-accordion>
		</ui-accordions>
		</hr>

		<h3>{{app}}</h3>
		<ui-alert title="Ops, aconteceu um problema!" >
			{{error}}
		</ui-alert>
		<ui-alert title="Série sobre AngulaJS">
			Episódio 10 - Criando Diretivas - Parte 1
		</ui-alert>
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
		<table ng-show="contatos.length > 0" class="table table-striped">
			<tr>
				<th></th>
				<th>Serial</th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
				<td>{{contato.serial}}</td>
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome | name|ellipsis:10}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
			</tr>
		</table>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			{{contato.data}}
			<input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' )' for operadora in operadoras | orderBy:'nome'">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>

		<div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength" class="alert alert-danger">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>

		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor, preencha o campo telefone!
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			O campo telefone deve ter o formato DDDDD-DDDD.
		</div>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
	</div>
	<div ng-include="'view/footer.html'"></div>
</body>
</html>